div {
  font-family: Roboto, arial;
}
.thumbnail {
  width: 100%;
}
.video-info {
  width: 258px;
}
.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.video-author,
.video-stats {
  margin-top: 3px;
  font-size: 12px;
  color: rgb(96, 96, 96);
  line-height: 14px;
}
@media (min-width:1000px){
  .video-title{
   font-size:16px;
   line-height:24px;
  }
}
@media (min-width:1000px){
  .video-author,
  .video-stats{
    font-size:14px;
  }
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile-picture {
  border-radius: 18px;
  width: 36px;
}
.thumbnail-row {
  position: relative;
  margin-bottom: 8px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 15px;
}
@media (max-width: 800px){
  .video-grid{
    grid-template-columns:1fr 1fr;
  }
}
@media(min-width:801px) and (max-width:999px){
  .video-grid{
    grid-template-columns:1fr 1fr 1fr;
  }
}
@media(min-width:1000px){
  .video-grid{
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
}

.hamburger-menue {
  margin-left: 24px;
  margin-right: 24px;
  height: 24px;
}
.youtube-logo {
  height: 20px;
}

.search-icon {
  height: 25px;
}
.search-button {
  border-width: 1px;
  border-color: rgb(211, 209, 209);
  border-style: solid;
  background-color: whitesmoke;
  height: 40px;
  width: 64px;
  margin: 0;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  position: relative;
}
.search-button .Tooltip,
.voice-search-button .Tooltip,
.upload-icon-container .Tooltip,
.youtube-apps-icon-container .Tooltip,
.notification-icon-container1 .Tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  bottom: -35px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1080;
}
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notification-icon-container1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button:hover .Tooltip,
.voice-search-button:hover .Tooltip,
.upload-icon-container:hover .Tooltip,
.youtube-apps-icon-container:hover .Tooltip,
.notification-icon-container1:hover .Tooltip {
  opacity: 1;
}
.voice-search-button {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: whitesmoke;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.voice-icon {
  height: 24px;
}
.upload-icon {
  height: 23px;
}
.youtube-apps-icon {
  height: 23px;
}
.notification-icon {
  width: 23px;
}
.channel-icon {
  height: 32px;
  border-radius: 16px;
}
.search-bar {
  flex: 1;
  margin-top: -1px;
  height: 36px;
  font-size: 16px;
  padding-left: 17px;
  border:1px solid rgb(211, 209, 209);
  border-radius: 40px 0 0 40px;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.05);
  width: 0;
}
.serach-bar::placeholder {
  font-size: 16px;
}
.video-time {
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 2px;
  right: 5px;
  bottom: 10px;
  font-size: 12px;
 padding:4px;
  align-items: center;
  font-weight: 500;
}
.video-title-link{
   text-decoration: none;
   color:black;
}