p {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  height: 2000px;
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(248, 247, 247);
  font-family: roboto, arial;
  opacity:0.6;
}
@media (min-width: 1200px) {
 body{
  padding-left:220px;
 }
}
